<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'banner.png' %>');">
  <div class="container">
    <h1>Meola's all time <strong>classics</strong> and <strong>crowd favourites</strong>!</h1>
    <p>Party like it's orientation day.</p>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <% if cocktail.photo.url %>
          <% path = cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill  %>
        <% else %>
          <% path = 'https://source.unsplash.com/1600x900/?alcohol' %>
        <% end %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= path %>')">
           <%= cocktail.name %>
           <%= link_to '+', cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-remove-link'  %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Drinks made with Meola <i class="fas fa-heart"></i>
  </div>
</div>
